<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.auzmor.calendar.mappers.CalendarMapper'>

    <insert id="saveEvent" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO calendar_details(uuid, eventId, calendarId, calendar_details, accountId)
        VALUES(#{event.uuid}, #{event.eventId}, #{event.calendarId}, #{event.calendar_details}, #{event.accountId});
    </insert>

</mapper>